<!-- award  Footer -->

<h2>Next steps</h2>

<p><strong>Check outstanding debts</strong><br/>
If you have any outstanding debt, <b>your degree will not be conferred</b> and you <b>cannot attend a graduation ceremony</b>. Check your status here: <a href="https://www.nottingham.ac.uk/studentservices/servicedetails/fees-payments/student-fees-and-payments.aspx">Student Fees and Payments</a> or contact the <a href="http://www.nottingham.ac.uk/fabs/finance/index.aspx">Finance Office</a>.</p>



<p><strong>Graduation</strong><br>
Everything you need to know about your graduation is on the <a href="https://www.nottingham.ac.uk/studentservices/servicedetails/graduation".>Graduation webpages</a>.<br/>
Your name will appear on your graduation certificate in the following format: <b>first name(s) + family name</b>. Check these instructions to <a href="https://www.nottingham.ac.uk/studentservices/services/address-name-change.aspx">update your name or address</a> if needed.</p>

<p>If you have chosen to not attend a graduation ceremony and will graduate in-absentia, your graduation documents will be posted out to you after the graduation ceremonies to the <b>home</b> address as shown in NottinghamHub.</p>


<!--
<hr>


<p><strong>Graduation</strong><br>
Everything you need to know about your graduation is here: <a href="https://www.nottingham.ac.uk/studentservices/servicedetails/graduation".>Your Graduation</a>
</p>

<p><strong>Your graduation documents</strong></p>
<ul>
<li>Your name will appear on your graduation certificate in the following format: <b>first name(s) + family name</b></li>
<li>If graduating in absentia, your graduation documents will be posted to your <b>HOME address</b> on NottinghamHub</li>
<li>Need to change your name or address? Please see <a href="https://www.nottingham.ac.uk/studentservices/services/address-name-change.aspx">Name and Address Change Information</a></li>
</ul>
-->



{% include supportFooter.html %}


<h2>Please note</h2>

<p><strong>International students</strong><br/><!-- link to web not state contact here-->
It is your responsibility to ensure that you understand what this means for your immigration status in the UK and that you act in accordance with the Immigration Rules and regulations.
For advice contact the <a href="https://www.nottingham.ac.uk/studentservices/services/visa-immigration.aspx">Visa and Immigration Team</a>.</p>


<p><strong>Medical students</strong><br/>  
If a classification is showing above, this relates to your BMedSci qualification.
If your BMBS is being awarded with Honours, this will be displayed as a Special Feature.
</p>


