<!-- ASC 1009 1010 1011 Retake stages  -->

<p>There are further steps needed in order for you to meet the <a href="https://www.nottingham.ac.uk/qualitymanual/academic-regulations/index.aspx">Progression Requirements</a> of your course. You are currently unable to progress and must retake part or all of the academic year.</p>
<p>Due to extenuating circumstances, attempts will be treated as first sits. This means that you will be permitted to attend to take all modules again for the relevant stage and when you do, it will be as if you are sitting them for the first time.</p>
<p>In line with the <a href="https://www.nottingham.ac.uk/qualitymanual/assessment-awards-and-deg-classification/ext-circumstances.aspx">EC regulations</a>, the mark for your original attempt will be zero.</p>
<p>You must retake and pass this stage to progress on your course.</p>