<!-- ASC 1013 Unsatisfactory – reassessment required to progress  -->

<p>You are currently unable to progress and must retake, and pass, any failed assessments.</p>

<!-- cant say failed?-->
<hr>
<p>You have failed one or more of your assessments, and have not satisifed the <a href="https://www.nottingham.ac.uk/qualitymanual/academic-regulations/index.aspx">Progression Requirements</a> of your course.
You must retake, and pass, any failed assessments to progress on your course.[v1] </p>

<!-- ORIG-->
<hr> 
<p>There are further steps needed in order for you to meet the <a href="https://www.nottingham.ac.uk/qualitymanual/academic-regulations/index.aspx">Progression Requirements</a> of your course. You are currently unable to progress and must retake, and pass, any failed assessments.[orig] </p> 
<hr>