<!-- ASC 1017 Unsatisfactory - prov proceed with Reassess, 16+20 -->

<p>There are further steps needed in order for you to meet the <a href="https://www.nottingham.ac.uk/qualitymanual/academic-regulations/index.aspx">Progression Requirements</a> of your course. You may progress provisionally but must retake, and pass, any failed assessments. </p>
<p>As you have less than 20 credits outstanding you may carry your reassessment(s) over to next academic year and sit them alongside next year’s modules. </p>
<p>This will be “in attendance”, which means you will be attending the teaching again. The module(s) will be on your timetable. </p>
<p>Although you can register for the next academic year, you will not officially pass this year until you have passed your reassessment(s). If you fail your reassessment(s) you will have not met the progression requirements and your course may be terminated. </p>