<!-- ASC 1023 Optional resits for PSRB accreditation -->

<p>The professional body that accredits your course has different requirements to that of the University. Accreditation rules for your degree allow a maximum of 30 soft-failed credits across the whole degree.</p>

<p>What this means for progressing students:</p>
<p>Whilst you have met the University’s <a href="https://www.nottingham.ac.uk/qualitymanual/academic-regulations/index.aspx">Progression Requirements</a> to progress onto the next stage of your course, we strongly recommend that you retake your failed modules from this year to keep on track for an accredited degree.</p>

<p>What this means for graduating students:</p>
<p>There are further steps needed in order for you to meet the <a href="https://www.nottingham.ac.uk/qualitymanual/academic-regulations/index.aspx">Progression Requirements</a> of your course.</p>
<p>In order to graduate <b>with accreditation</b>, you must retake, and pass, any failed assessments during the upcoming Resit Examination period.</p>