<!-- ASC 1027 Unsatisfactory – Terminate, lower award  -->
<p>Unfortunately, you have not met the <a href="https://www.nottingham.ac.uk/qualitymanual/academic-regulations/index.aspx">requirements of your course</a> and there are no further opportunities for reassessment.</p>
<p>This means you will not be eligible to receive the award of your current course.</p>
<p>However, due to credits accumulated, you are eligible for the award as stated in MyResults. Your record has been updated accordingly and your certificate will reflect this new award.</p>
