<!-- ASC 1028 Unsatisfactory – Transfer and progress  -->

<p>We are sorry to inform you that you have not met the <a href="https://www.nottingham.ac.uk/qualitymanual/academic-regulations/index.aspx">Progression Requirements</a> of your course.
However, you can transfer to an alternative degree to continue your studies.</p>

<p>This means that your studies on your current course are terminated and you will not be eligible to receive the award for that degree. Your student record will be updated to reflect this change of course shortly.</p>