<!-- ASC 1029 Unsatisfactory – Transfer and reassess  -->

<p>Unfortunately, you have not met the <a href="https://www.nottingham.ac.uk/qualitymanual/academic-regulations/index.aspx">Progression Requirements</a> of your course.</p>
<p>However, you can transfer to an alternative degree to take your reassessment(s) and continue your studies.</p>
<p>This means that your studies on your current course are terminated and you will not be eligible to receive the award for that degree. You are, however, eligible to progress to the next stage by transferring to a different course.</p>
<p>Your student record will be updated to reflect this change of course shortly.</p>
