<!-- ASC 1041 Unsatisfactory 1st sit with EC in attendance-->

<p>There are further steps needed in order for you to meet the <a href="https://www.nottingham.ac.uk/qualitymanual/academic-regulations/index.aspx">Progression Requirements</a> of your course. You are currently unable to progress or complete and must retake, and pass, any failed assessments.</p>
<p>Due to extenuating circumstances, attempts will be treated as first sits. This means that you will be permitted to take the assessment(s) again and when you do, it will be as if you are sitting them for the first time.</p>
<p>This will be “in attendance”, which means you will be attending the teaching again. The module(s) will be on your timetable.</p>
<p>In line with the <a href="https://www.nottingham.ac.uk/qualitymanual/assessment-awards-and-deg-classification/ext-circumstances.aspx">EC regulations</a>, the mark for your original attempt will be zero.</p>
<p>You must retake and pass this stage to progress on your course.</p>
