<!-- ASC 1046 Unsatisfactory Resit not in attendance -->

<p>There are further steps needed in order for you to meet the <a href="https://www.nottingham.ac.uk/qualitymanual/academic-regulations/index.aspx">Progression Requirements</a> of your course. You are currently unable to progress or complete and must retake, and pass, any failed assessments.</p>
<p>This will be “not in attendance”, which means you will NOT be attending the teaching again but will have the reassessment(s) added to your exam timetable or be set coursework by the module convenor.</p>