<!-- ASC 1049 Unsatisfactory 2nd Reassess in attendance -->

<p>There are further steps needed in order for you to meet the <a href="https://www.nottingham.ac.uk/qualitymanual/academic-regulations/index.aspx">Progression Requirements</a> of your course. You are currently unable to progress and must retake, and pass, any failed assessments.</p>
<p>You have been granted a final opportunity to retake failed reassessment(s).</p>
<p>This will be “in attendance”, which means you will be attending the teaching again. The module(s) will be on your timetable.</p>
