<!-- 1progressingFooter -->

<h2>For action</h2>

<p><strong>Check outstanding debts</strong></p>
<ul>
	<li>If you have any outstanding debt, you will <strong>not be able to register</strong> for the next academic session and you will <strong>lose IT access</strong> </li>
	<li>Check your status here: <a href="https://www.nottingham.ac.uk/studentservices/servicedetails/fees-payments/student-fees-and-payments.aspx">Student Fees and Payments</a></li>
	<li>Or contact the <a href="http://www.nottingham.ac.uk/fabs/finance/index.aspx">Finance Office</a></li>
</ul>

<p><strong>Your contact information</strong></p>
<ul>
<li>Keep your contact information up to date through the NottinghamHub</li>
</ul>



<h2>Next steps</h2>

<p><strong>Registering for the next academic session</strong></p>
<ul>
<li>Please <a href="https://www.nottingham.ac.uk/studentservices/servicedetails/registration/online-registration-for-returning-students.aspx">register for the next academic session</a></li>
</ul>


<h2>Support</h2>
<p><strong>Understanding your results</strong></p>
<ul>
	<li>If you need any help understanding this outcome, please contact your Personal Tutor or Here For You Guides in the first instance </li>
	<li>If unavailable, please use the <a href="https://student-enquiries.nottingham.ac.uk/">Student Enquiry Centre</a> </li>
</ul>

<p><strong>Academic Appeals</strong></p>
<ul>
	<li>You have <b>30 days</b> to submit an appeal from the date of this message </li>
	<li>Appeals are only considered if you have grounds and provide supporting evidence </li>
	<li>For further information, please see <a href="https://www.nottingham.ac.uk/studentservices/servicedetails/appeals-complaints-and-conduct/academic-appeals.aspx">Academic Appeals</a> </li>
	<li>If an appeal is ongoing, you should proceed as if the original decision stands </li>
</ul>

<p><strong>Extenuating Circumstances</strong></p>
<ul>
	<li>If you have not previously submitted an EC, you must follow the Academic Appeals procedure </li>
	<li>You will need to provide new evidence that was not, and could not have been, made available to the Board of Examiners at the time of its original decision.  </li>
</ul>

<p><strong>Students’ Union support</strong></p>
<ul>
<li>SU Education Advisers can help advise on appeals or EC late claims <a href="https://su.nottingham.ac.uk/advice">SU Advice</a></li>
</ul>



<h2>Please note</h2>
<ul>
	<li>Results are correct at the time of publication but may change in exceptional circumstances</li>
	<li>You will be notified via our University email if this happens</li>
</ul>

<!--
<h3>Please note</h3>
<p>Results are correct at the time of publication but may change in exceptional circumstances. You will be notified via our University email if this happens</p>
-->

<p><strong>International Students</strong></p>
<ul>
	<li>It is your responsibility to ensure that you understand what this means for your immigration status in the UK and that you act in accordance with the Immigration Rules and regulations. </li>
	<li>For advice contact the Visa and Immigration Team on 0115 846 6125 or email <a href="mailto:immigration-support@nottingham.ac.uk">immigration-support@nottingham.ac.uk</a>  </li>
</ul>

<p><strong>Reassessment/First Sit Marks</strong></p>
<ul>
	<li>If you have taken a reassessment/first sit not in attendance this year, the mark will show against your module from a previous year.</li>
	<li>If you have taken a reassessment/first sit in attendance this year, you may see the mark appearing in this year’s record <strong>and</strong> against your module from a previous year.</li>
</ul>

<h2>Contact</h2>
<p>For further information, please visit our <a href="https://student-enquiries.nottingham.ac.uk/faqs/category/?id=CAT-01000">Frequently Asked Questions</a></p>


