<!-- 1progressingFooter -->

<h2>Next steps</h2>

<p><strong>Check outstanding debts</strong><br/>
If you have any outstanding debt, you will <strong>not be able to register</strong> for the next academic session and you will <strong>lose IT access</strong>. Check your status here: <a href="https://www.nottingham.ac.uk/studentservices/servicedetails/fees-payments/student-fees-and-payments.aspx">Student Fees and Payments</a> or contact the <a href="http://www.nottingham.ac.uk/fabs/finance/index.aspx">Finance Office</a>.</p>


<p><strong>Your contact information</strong><br/>
Keep your contact information up to date through the Profile tile on NottinghamHub</p>



<!-- <h2>Next steps</h2> -->

<p><strong>Registering for the next academic session</strong><br/>
Please <a href="https://www.nottingham.ac.uk/studentservices/servicedetails/registration/online-registration-for-returning-students.aspx">register for the next academic session</a></p>



<h2>Support</h2>
<p><strong>Understanding your results</strong><br/>
If you need any help understanding this outcome, please contact your Personal Tutor or Here For You Guides in the first instance. If unavailable, please use the <a href="https://student-enquiries.nottingham.ac.uk/">Student Enquiry Centre</a>.</p>

<p><strong>Academic Appeals</strong><br/>
You have <b>30 days</b> to submit an appeal from the date of this message.
Appeals are only considered if you have grounds and provide supporting evidence.
For further information, please see <a href="https://www.nottingham.ac.uk/studentservices/servicedetails/appeals-complaints-and-conduct/academic-appeals.aspx">Academic Appeals</a>.
</p>

<p><strong>Extenuating Circumstances</strong><br/>
If you have not previously submitted an EC, you must follow the Academic Appeals procedure.
	You will need to provide new evidence that was not, and could not have been, made available to the Board of Examiners at the time of its original decision.</p>


<p><strong>Students’ Union support</strong><br/>
SU Education Advisers can help advise on appeals or EC late claims <a href="https://su.nottingham.ac.uk/advice">SU Advice</a>.</p>


<p>For further information, please visit our <a href="https://student-enquiries.nottingham.ac.uk/faqs/category/?id=CAT-01000">Frequently Asked Questions</a>.</p>

<!--
<h2>Please note</h2>
<ul>
	<li>Results are correct at the time of publication but may change in exceptional circumstances</li>
	<li>You will be notified via our University email if this happens</li>
</ul>
-->



<h2>International Students</h2><!-- link to web not state contact here-->
<p>It is your responsibility to ensure that you understand what this means for your immigration status in the UK and that you act in accordance with the Immigration Rules and regulations.
For advice contact the <a href="https://www.nottingham.ac.uk/studentservices/services/visa-immigration.aspx">Visa and Immigration Team</a>.</p>

<!--
<p><strong>Reassessment/First Sit Marks</strong></p>
<ul>
	<li>If you have taken a reassessment/first sit not in attendance this year, the mark will show against your module from a previous year.</li>
	<li>If you have taken a reassessment/first sit in attendance this year, you may see the mark appearing in this year’s record <strong>and</strong> against your module from a previous year.</li>
</ul>
-->




