<!-- 2proceedingFooter -->

<h2>Next steps</h2>

<p><strong>Deferral of Reassessment</strong><br/>
To opt to defer your reassessments to the next academic year, which will <b>extend the length of your course by a year</b>, <a href="https://forms.office.com/Pages/ResponsePage.aspx?id=7qe9Z4D970GskTWEGCkKHhme9Q4RRn1DqXh2Hq_5KlVUQ09JRlNUQjRXOUFXODQ4SVVZVjI1REVLTi4u">please complete this form</a>.<br/>
Submission does not guarantee approval, you must wait for the official outcome.</p>


<p><strong>Resit Fees</strong><br>
If you have resits, you must pay a resit fee via NottinghamHub (available two weeks before and during reassessment). Unpaid fees will be added to your account as debt.<b>There is no charge for first sits</b>.</p>


<p><strong>Check outstanding debts</strong><br/>
If you have any outstanding debt, <b>your degree will not be conferred</b> and you <b>cannot attend a graduation ceremony</b>. Check your status here: <a href="https://www.nottingham.ac.uk/studentservices/servicedetails/fees-payments/student-fees-and-payments.aspx">Student Fees and Payments</a> or contact the <a href="http://www.nottingham.ac.uk/fabs/finance/index.aspx">Finance Office</a>.</p>


<p><strong>Your contact information</strong><br/>
Keep your contact information up to date through the Profile tile on NottinghamHub</p>


<p><strong>Check Moodle and exam information</strong><br>
Use <a href="https://moodle.nottingham.ac.uk/login/index.php">Moodle</a> to access module content for revision and to resubmit any coursework. 
Check <a href="https://www.nottingham.ac.uk/studentservices/servicedetails/assessment-and-examinations/assessment-and-examinations.aspx">resit exam information</a>  for dates, timetables and fees and our <a href="https://www.nottingham.ac.uk/currentstudents/exam-period/index.aspx">exam period webpages</a> where you’ll find academic resources and personal support options.</p>


<p><strong>Returning to study</strong><br/>
If you are returning from a period of interruption
check your university email for a ‘return to study’ form.
</p>

<p><strong>Registering for the next academic session</strong></br/>
Subject to satisfying progression requirements, you will need to <a href="https://www.nottingham.ac.uk/studentservices/servicedetails/registration/online-registration-for-returning-students.aspx">register for the next academic session</a>. Once you have registered online, you can access <a href="https://www.nottingham.ac.uk/studentservices/servicedetails/module-enrolment/information-about-choosing-your-modules.aspx">module enrolment</a> to choose or change your modules if required.</p>







{% include supportFooter.html %}




<h2>Please note</h2>

<p><strong>International students</strong><br/><!-- link to web not state contact here-->
It is your responsibility to ensure that you understand what this means for your immigration status in the UK and that you act in accordance with the Immigration Rules and regulations.
For advice contact the <a href="https://www.nottingham.ac.uk/studentservices/services/visa-immigration.aspx">Visa and Immigration Team</a>.</p>


<p><strong>Discrepancies to records and timetables</strong><br/>
Some updates to your record may still be pending (eg recent reassessments or module changes).
You can use the <a href="need link here xxxxxxxxxxxxx">Master Timetable [need link]</a> to find out where and when your lectures are taking place.
</p>
