<!-- 2proceedingFooter -->

<h2>For action</h2>

<p><strong>Deferral of Reassessment</strong></p>
<ul>
	<li>To opt to defer your reassessments to the next academic year, <a href="https://forms.office.com/Pages/ResponsePage.aspx?id=7qe9Z4D970GskTWEGCkKHhme9Q4RRn1DqXh2Hq_5KlVUQ09JRlNUQjRXOUFXODQ4SVVZVjI1REVLTi4u">complete this form</a></li>
	<li>Forms submitted in time will be responded to within 2 weeks of the deadline.</li>
	<li>Submission does not guarantee approval, you must wait for the official outcome.</li>
	<li><b>Important</b> - you will extend the length of your course by a year if you defer your reassessments.</li>
</ul>

<p><strong>Resit Fees</strong></p>
<ul>
	<li>If you have one or more resits, a resit fee is required and payable in the NottinghamHub</li>
	<li>The fee will be showing two weeks before, and for the duration of, the reassessment period</li>
	<li>If the fee is unpaid after resits are taken, the fee will be added to your University account</li>
	<li><b>There is no charge for first sits</b></li>
</ul>


<p><strong>Check outstanding debts</strong></p>
<ul>
	<li>If you have any outstanding debt, <b>your degree will not be conferred</b> and you <b>cannot attend a graduation ceremony</b></li>
	<li>Check your status here: <a href="https://www.nottingham.ac.uk/studentservices/servicedetails/fees-payments/student-fees-and-payments.aspx">Student Fees and Payments</a></li>
	<li>Or contact the <a href="http://www.nottingham.ac.uk/fabs/finance/index.aspx">Finance Office</a></li>
</ul>


<p><strong>Your contact information</strong></p>
<ul>
<li>Keep your contact information up to date through the NottinghamHub</li>
</ul>



<h2>Next steps</h2>

<p><strong>Check Moodle and Exam Information</strong></p>
<ul>
<li>Use <a href="https://moodle.nottingham.ac.uk/login/index.php">Moodle</a> to access module content for revision and to resubmit any coursework</li>
<li>Resit exam information including dates, timetables and fees <a href="https://www.nottingham.ac.uk/studentservices/servicedetails/assessment-and-examinations/assessment-and-examinations.aspx">Assessment and Examinations</a></li>
</ul>

<p><strong>Returning to Study</strong></p>
<ul>
<li>Returning from a period of interruption? A ‘return to study’ form will be sent to your email. </li>
<li>Your record will be updated ready for your return.</li>
</ul>

<p><strong>Registering for the next academic session</strong></p>
<ul>
<li>Subject to satisfying progression requirements, you will need to <a href="https://www.nottingham.ac.uk/studentservices/servicedetails/registration/online-registration-for-returning-students.aspx">register for the next academic session</a></li>
</ul>

<p><strong>Module Enrolment</strong></p>
<ul>
<li>If you have registered online, you can access module enrolment to choose or change your modules if required <a href="https://www.nottingham.ac.uk/studentservices/servicedetails/module-enrolment/information-about-choosing-your-modules.aspx">Module Enrolment Information</a> </li>
</ul>



<h2>Support</h2>
<p><strong>Understanding your results</strong></p>
<ul>
	<li>If you need any help understanding this outcome, please contact your Personal Tutor or Here For You Guides in the first instance </li>
	<li>If unavailable, please use the <a href="https://student-enquiries.nottingham.ac.uk/">Student Enquiry Centre</a> </li>
</ul>

<p><strong>Academic Appeals</strong></p>
<ul>
	<li>You have <b>30 days</b> to submit an appeal from the date of this message </li>
	<li>Appeals are only considered if you have grounds and provide supporting evidence </li>
	<li>For further information, please see <a href="https://www.nottingham.ac.uk/studentservices/servicedetails/appeals-complaints-and-conduct/academic-appeals.aspx">Academic Appeals</a> </li>
	<li>If an appeal is ongoing, you should proceed as if the original decision stands</li>
</ul>

<p><strong>Extenuating Circumstances</strong></p>
<ul>
	<li>If you have not previously submitted an EC, you must follow the <a href="https://www.nottingham.ac.uk/studentservices/servicedetails/appeals-complaints-and-conduct/academic-appeals.aspx">Academic Appeals</a> procedure</li>
	<li>You will need to provide new evidence that was not, and could not have been, made available to the Board of Examiners at the time of its original decision.</li>
</ul>

<p><strong>Students’ Union support </strong></p>
<ul>
<li>SU Education Advisers can help advise on appeals or EC late claims <a href="https://su.nottingham.ac.uk/advice">SU Advice</a></li>
</ul>

<p><strong>Reassessment preparation</strong></p>
<ul>
<li>Visit our <a href="https://www.nottingham.ac.uk/currentstudents/exam-period/index.aspx">Exam Period webpage</a> where you’llfind academic resources and personal support options.</li>
</ul>



<h2>Please note</h2>
<ul>
	<li>Results are correct at the time of publication but may change in exceptional circumstances</li>
	<li>You will be notified via our University email if this happens</li>
</ul>

<p><strong>International Students</strong></p>
<ul>
	<li>It is your responsibility to ensure that you understand what this means for your immigration status in the UK and that you act in accordance with the Immigration Rules and regulations.</li>
	<li>For advice contact the Visa and Immigration Team on 0115 846 6125 or email <a href="mailto:immigration-support@nottingham.ac.uk">immigration-support@nottingham.ac.uk</a></li>
</ul>

<p><strong>Reassessment/First Sit Marks</strong></p>
<ul>
	<li>If you have taken a reassessment/first sit not in attendance this year, the mark will show against your module from a previous year.</li>
	<li>If you have taken a reassessment/first sit in attendance this year, you may see the mark appearing in this year’s record <strong>and</strong> against your module from a previous year.</li>
</ul>


<p><strong>Discrepancies to Records and Timetables </strong></p>
<ul>
<li>Some updates to your record may still be pending (e.g. recent reassessments or module changes) </li>
<li>You can use the <a href="need link here xxxxxxxxxxxxx">Master Timetable</a> to find out where and when your lectures are taking place.</li>
</ul>




<h2>Contact</h2>
<p>For further information, please visit our <a href="https://student-enquiries.nottingham.ac.uk/faqs/category/?id=CAT-01000">Frequently Asked Questions</a></p>