<!-- Proceeding Not in Attendance Footer -->

<h2>Next steps</h2>

<p><strong>Deferral of Reassessment</strong></p>
<ul>
	<li>To opt to <b>defer</b> take your reassessments <a href="https://student-enquiries.nottingham.ac.uk/faqs/article/FAQs-2321/en-us">in attendance</a> in the next academic year, <a href="https://forms.office.com/Pages/ResponsePage.aspx?id=7qe9Z4D970GskTWEGCkKHhme9Q4RRn1DqXh2Hq_5KlVUQ09JRlNUQjRXOUFXODQ4SVVZVjI1REVLTi4u">complete this form</a></li>
	<li>Forms submitted in time will be responded to within 2 weeks of the deadline.</li>
	<li>Submission does not guarantee approval, you must wait for the official outcome.</li>
	<li><b>Important</b> - you will extend the length of your course by a year if you defer your reassessments.</li>
</ul>


<p><strong>Resit Fees</strong></p>
<ul>
	<li>If you have one or more resits, a resit fee is required and payable in the NottinghamHub</li>
	<li>The fee will be showing two weeks before, and for the duration of, the reassessment period</li>
	<li>If the fee is unpaid after resits are taken, the fee will be added to your University account</li>
	<li><b>There is no charge for first sits</b></li>
</ul>


<p><strong>Check outstanding debts</strong><br/>
If you have any outstanding debt, <b>your degree will not be conferred</b> and you <b>cannot attend a graduation ceremony</b>. Check your status here: <a href="https://www.nottingham.ac.uk/studentservices/servicedetails/fees-payments/student-fees-and-payments.aspx">Student Fees and Payments</a> or contact the <a href="http://www.nottingham.ac.uk/fabs/finance/index.aspx">Finance Office</a>.</p>


<p><strong>Your contact information</strong><br/>
Keep your contact information up to date through the Profile tile on NottinghamHub</p>


<p><strong>Registration </strong></p>
<ul>
<li>You do not need to register as you are taking your reassessments <a href="https://student-enquiries.nottingham.ac.uk/faqs/article/FAQs-2322/en-us">not in attendance</a>.</li>
<li>You will retain IT access and your University email, as well as access to all relevant learning materials on Moodle.</li>
<li>Contact your Module Convenor(s) if you need support with Moodle.</li>
</ul>


<p><strong>Check Moodle and Exam Information</strong></p>
<ul>
<li>Use <a href="https://moodle.nottingham.ac.uk/login/index.php">Moodle</a> to access module content for revision and to resubmit any coursework</li>
<li>Resit exam information including dates, timetables and fees <a href="https://www.nottingham.ac.uk/studentservices/servicedetails/assessment-and-examinations/assessment-and-examinations.aspx">Assessment and Examinations</a></li>
</ul>

<p><strong>Reassessment preparation (was support)</strong></p>
<ul>
<li>Visit our <a href="https://www.nottingham.ac.uk/currentstudents/exam-period/index.aspx">Exam Period webpage</a> where you’llfind academic resources and personal support options.</li>
</ul>



{% include supportFooter.html %}



<h2>Please note</h2>

<p><strong>International students</strong><br/><!-- link to web not state contact here-->
It is your responsibility to ensure that you understand what this means for your immigration status in the UK and that you act in accordance with the Immigration Rules and regulations.
For advice contact the <a href="https://www.nottingham.ac.uk/studentservices/services/visa-immigration.aspx">Visa and Immigration Team</a>.</p>


<p><strong>Discrepancies to records and timetables</strong><br/>
Some updates to your record may still be pending (eg recent reassessments or module changes).
You can use the <a href="need link here xxxxxxxxxxxxx">Master Timetable [need link]</a> to find out where and when your lectures are taking place.
</p>
