<!-- 4Termination Footer -->

<h2>For action</h2>
<p><strong>IT Access</strong></p>
<ul>
<li>Retain any emails or learning materials that you wish to keep. </li>
<li>Information regarding what to expect regarding the closure of your account can be found <a href="https://uniofnottm.sharepoint.com/sites/Office365/SitePages/What-happens-when-I-leave-.aspx">here</a> </li>
</ul>


<h2>Next steps</h2>
<p><strong>Visa Holders </strong></p>
<ul>
<li>Check what this means for you and seek advice from our <a href="https://www.nottingham.ac.uk/studentservices/services/visa-immigration.aspx">Visa and Immigration Team</a></li>
</ul>
<p><strong>Funding </strong></p>
<ul>
<li>For more information about the impact on SLC funding<a href="https://www.nottingham.ac.uk/studentservices/documents/funding-information-for-students-who-withdraw-from-university.pdf">see this factsheet</a> or contact the <a href="https://www.nottingham.ac.uk/StudentServices/Support/Financialsupport/Talk-to-us.aspx">Funding &amp; Financial Support team</a></li>
</ul>
<p><strong>Accommodation </strong></p>
<ul>
<li>Visit our <a href="https://www.nottingham.ac.uk/student-living/frequently-asked-questions.aspx">Accommodation webpage</a> for advice</li>
</ul>
<p><strong>Alternative Awards </strong></p>
<ul>
<li>If you are eligible for an alternative award, you will be included in the next graduation ceremony, provided it is at least one month away. </li>
<li>You can graduate sooner by registering for <a href="https://www.nottingham.ac.uk/studentservices/servicedetails/graduation/inter-ceremony.aspx">Inter-Ceremony Graduation</a></li>
<li>Please note that this is not a ceremony but a remote conferral of award, there would be no further opportunity to attend a graduation ceremony in person at a later date.</li>
</ul>



<h2>Support</h2>
<p><strong>Understanding your results</strong></p>
<ul>
	<li>If you need any help understanding this outcome, please contact your Personal Tutor or Here For You Guides in the first instance </li>
	<li>If unavailable, please use the <a href="https://student-enquiries.nottingham.ac.uk/">Student Enquiry Centre</a> </li>
</ul>

<p><strong>Academic Appeals</strong></p>
<ul>
	<li>You have <b>30 days</b> to submit an appeal from the date of this message </li>
	<li>Appeals are only considered if you have grounds and provide supporting evidence </li>
	<li>For further information, please see <a href="https://www.nottingham.ac.uk/studentservices/servicedetails/appeals-complaints-and-conduct/academic-appeals.aspx">Academic Appeals</a> </li>
	<li>If an appeal is ongoing, you should proceed as if the original decision stands</li>
</ul>

<p><strong>Extenuating Circumstances</strong></p>
<ul>
	<li>If you have not previously submitted an EC, you must follow the <a href="https://www.nottingham.ac.uk/studentservices/servicedetails/appeals-complaints-and-conduct/academic-appeals.aspx">Academic Appeals</a> procedure</li>
	<li>You will need to provide new evidence that was not, and could not have been, made available to the Board of Examiners at the time of its original decision.</li>
</ul>

<p><strong>Students’ Union support </strong></p>
<ul>
<li>SU Education Advisers can help advise on appeals or EC late claims <a href="https://su.nottingham.ac.uk/advice">SU Advice</a></li>
</ul>

<p><strong>Wellbeing</strong></p>
<ul>
<li>Your School contact or Personal Tutor will be able to offer advice and support.</li>
<li>Our <a href="https://www.nottingham.ac.uk/studentservices/services/support-and-wellbeing-team.aspx">support and wellbeing team</a>  can help guide you to other services and useful resources.</li>
<li>Our <a href="https://www.nottingham.ac.uk/careers/students/contact.aspx">careers and employability service team</a> offer independent and impartial advice. </li>
</ul>



<h2>Please note</h2>
<ul>
	<li>Results are correct at the time of publication but may change in exceptional circumstances</li>
	<li>You will be notified via our University email if this happens</li>
</ul>

<p><strong>International Students</strong></p>
<ul>
	<li>It is your responsibility to ensure that you understand what this means for your immigration status in the UK and that you act in accordance with the Immigration Rules and regulations.</li>
	<li>For advice contact the Visa and Immigration Team on 0115 846 6125 or email <a href="mailto:immigration-support@nottingham.ac.uk">immigration-support@nottingham.ac.uk</a></li>
</ul>

<p><strong>Reassessment/First Sit Marks</strong></p>
<ul>
	<li>If you have taken a reassessment/first sit not in attendance this year, the mark will show against your module from a previous year.</li>
	<li>If you have taken a reassessment/first sit in attendance this year, you may see the mark appearing in this year’s record <strong>and</strong> against your module from a previous year.</li>
</ul>



<h2>Contact</h2>
<p>For further information, please visit our <a href="https://student-enquiries.nottingham.ac.uk/faqs/category/?id=CAT-01000">Frequently Asked Questions</a></p>

