<!-- 4Termination Footer -->

<h2>Next steps</h2>
<p><strong>IT Access</strong></p>
<ul>
<li>Retain any emails or learning materials that you wish to keep. </li>
<li>Information regarding what to expect regarding the closure of your account can be found <a href="https://uniofnottm.sharepoint.com/sites/Office365/SitePages/What-happens-when-I-leave-.aspx">here</a> </li>
</ul>



<p><strong>Visa Holders </strong></p>
<ul>
<li>Check what this means for you and seek advice from our <a href="https://www.nottingham.ac.uk/studentservices/services/visa-immigration.aspx">Visa and Immigration Team</a></li>
</ul>

<p><strong>Funding </strong></p>
<ul>
<li>For more information about the impact on SLC funding<a href="https://www.nottingham.ac.uk/studentservices/documents/funding-information-for-students-who-withdraw-from-university.pdf">see this factsheet</a> or contact the <a href="https://www.nottingham.ac.uk/StudentServices/Support/Financialsupport/Talk-to-us.aspx">Funding &amp; Financial Support team</a></li>
</ul>

<p><strong>Accommodation </strong></p>
<ul>
<li>Visit our <a href="https://www.nottingham.ac.uk/student-living/frequently-asked-questions.aspx">Accommodation webpage</a> for advice</li>
</ul>

<p><strong>Alternative Awards </strong></p>
<ul>
<li>If you are eligible for an alternative award, you will be included in the next graduation ceremony, provided it is at least one month away. </li>
<li>You can graduate sooner by registering for <a href="https://www.nottingham.ac.uk/studentservices/servicedetails/graduation/inter-ceremony.aspx">Inter-Ceremony Graduation</a></li>
<li>Please note that this is not a ceremony but a remote conferral of award, there would be no further opportunity to attend a graduation ceremony in person at a later date.</li>
</ul>



{% include supportFooter.html %}




<h2>Please note</h2>

<p><strong>International students</strong><br/><!-- link to web not state contact here-->
It is your responsibility to ensure that you understand what this means for your immigration status in the UK and that you act in accordance with the Immigration Rules and regulations.
For advice contact the <a href="https://www.nottingham.ac.uk/studentservices/services/visa-immigration.aspx">Visa and Immigration Team</a>.</p>

