<!-- 1progressingHeader -->
<p>Once we have confirmation this message will be fully updated with all of the information you need.</p>

<p>Some reasons for this may be: </p>
<ul>
<li>You are starting a different degree in the next academic session there is no progression decision to convey to you. </li>
<li>There is no official outcome at this point in time as you are part way through the current stage of your course. </li>
<li>This may be as a result of your course having a non-standard start date and therefore you are not currently at a progression decision point. </li>
</ul>