<!-- 1progressingFooter -->

<h2>Next steps</h2>

<p><strong>Check outstanding debts</strong><br/>
If you have any outstanding debt, <b>your degree will not be conferred</b> and you <b>cannot attend a graduation ceremony</b>. Check your status here: <a href="https://www.nottingham.ac.uk/studentservices/servicedetails/fees-payments/student-fees-and-payments.aspx">Student Fees and Payments</a> or contact the <a href="http://www.nottingham.ac.uk/fabs/finance/index.aspx">Finance Office</a>.</p>


<p><strong>Your contact information</strong><br/>
Keep your contact information up to date through the Profile tile on NottinghamHub</p>


<p><strong>Registering for the next academic session</strong><br/>
Subject to satisfying progression requirements, you will need to <a href="https://www.nottingham.ac.uk/studentservices/servicedetails/registration/online-registration-for-returning-students.aspx">register for the next academic session</a>.


<h2>Support</h2>
<p><strong>Understanding your results</strong><br/>
If you need any help understanding this outcome, please contact your Personal Tutor or Here For You Guides in the first instance. If unavailable, please use the <a href="https://student-enquiries.nottingham.ac.uk/">Student Enquiry Centre</a>.</p>

<p><strong>Students’ Union support</strong><br/>
SU Education Advisers can help advise on appeals or EC late claims <a href="https://su.nottingham.ac.uk/advice">SU Advice</a>.</p>

<p><strong>Wellbeing</strong><br/>
Your School contact or Personal Tutor will be able to offer advice and support.
Our <a href="https://www.nottingham.ac.uk/studentservices/services/support-and-wellbeing-team.aspx">support and wellbeing team</a>  can help guide you to other services and useful resources.
Our <a href="https://www.nottingham.ac.uk/careers/students/contact.aspx">careers and employability service team</a> offer independent and impartial advice.
</p>


<p>For further information, please visit our <a href="https://student-enquiries.nottingham.ac.uk/faqs/category/?id=CAT-01000">Frequently Asked Questions</a>.</p>



<h2>Please note</h2>

<p><strong>International students</strong><br/><!-- link to web not state contact here-->
It is your responsibility to ensure that you understand what this means for your immigration status in the UK and that you act in accordance with the Immigration Rules and regulations.
For advice contact the <a href="https://www.nottingham.ac.uk/studentservices/services/visa-immigration.aspx">Visa and Immigration Team</a>.</p>


