<!-- 1progressingFooter -->

<h2>For action</h2>

<p><strong>Check outstanding debts</strong></p>
<ul>
	<li>If you have any outstanding debt, <b>your degree will not be conferred</b> and you <b>cannot attend a graduation ceremony</b></li>
	<li>Check your status here: <a href="https://www.nottingham.ac.uk/studentservices/servicedetails/fees-payments/student-fees-and-payments.aspx">Student Fees and Payments</a></li>
	<li>Or contact the <a href="http://www.nottingham.ac.uk/fabs/finance/index.aspx">Finance Office</a></li>
</ul>

<p><strong>Your contact information</strong></p>
<ul>
<li>Keep your contact information up to date through the NottinghamHub</li>
</ul>



<h2>Next steps</h2>

<p><strong>Registering for the next academic session</strong></p>
<ul>
<li>Subject to satisfying progression requirements, you will need to <a href="https://www.nottingham.ac.uk/studentservices/servicedetails/registration/online-registration-for-returning-students.aspx">register for the next academic session</a></li>
</ul>


<h2>Support</h2>
<p><strong>Understanding your results</strong></p>
<ul>
	<li>If you need any help understanding this outcome, please contact your Personal Tutor or Here For You Guides in the first instance </li>
	<li>If unavailable, please use the <a href="https://student-enquiries.nottingham.ac.uk/">Student Enquiry Centre</a> </li>
</ul>




<h2>Please note</h2>
<ul>
	<li>Results are correct at the time of publication but may change in exceptional circumstances</li>
	<li>You will be notified via our University email if this happens</li>
</ul>

<p><strong>International Students</strong></p>
<ul>
	<li>It is your responsibility to ensure that you understand what this means for your immigration status in the UK and that you act in accordance with the Immigration Rules and regulations. </li>
	<li>For advice contact the Visa and Immigration Team on 0115 846 6125 or email <a href="mailto:immigration-support@nottingham.ac.uk">immigration-support@nottingham.ac.uk</a>  </li>
</ul>

<p><strong>Reassessment/First Sit Marks</strong></p>
<ul>
	<li>If you have taken a reassessment/first sit not in attendance this year, the mark will show against your module from a previous year.</li>
	<li>If you have taken a reassessment/first sit in attendance this year, you may see the mark appearing in this year’s record <strong>and</strong> against your module from a previous year.</li>
</ul>

<h2>Contact</h2>
<p>For further information, please visit our <a href="https://student-enquiries.nottingham.ac.uk/faqs/category/?id=CAT-01000">Frequently Asked Questions</a></p>


