<!-- ONE year NO year column -->
<table class="table table-sm table-hover">
  <thead class="thead theadMid">
    <tr>
      <th scope="col">Code</th>
      <th scope="col">Title</th>
      <th scope="col">Credits</th>
      <th scope="col">Semester</th>
      <th scope="col">Mark</th>
      <th scope="col">1st&nbsp;resit</th>
      <th scope="col">2nd&nbsp;resit</th>
      <!--<th scope="col">Final</th>-->
      <th scope="col">Outcome</th>
    </tr>
  </thead>
  <tbody>
    {% for module in marks %}
    <tr>
      <td>{{ module.Code }}</td>
      <td>{{ module.Title }}</td>
      <td class="center">{{ module.Credits }}</td>  
      <td>{{ module.Semester }}</td>  
      <td class="center">{{ module.Original }}</td>
      <td class="center">{{ module.1stResit }}</td>
      <td class="center">{{ module.2ndResit }}</td>      
      <!--<td>{{ module.Final }}</td> -->
      <td>{{ module.Outcome }}</td> 
    </tr>
    {% endfor %}
  </tbody>
</table>
