<!-- supportFooter -->
<h2>Support</h2>
<p><strong>Understanding your results</strong><br/>
If you need any help understanding this outcome, please contact your Personal Tutor or Here For You Guides in the first instance. If unavailable, please use the <a href="https://student-enquiries.nottingham.ac.uk/">Student Enquiry Centre</a>.</p>

<p><strong>Academic Appeals</strong><br/>
You have <b>30 days</b> to submit an appeal from the date of this message.
Appeals are only considered if you have grounds and provide supporting evidence.
For further information, please see <a href="https://www.nottingham.ac.uk/studentservices/servicedetails/appeals-complaints-and-conduct/academic-appeals.aspx">Academic Appeals</a>.
If an appeal is ongoing, you should proceed as if the original decision stands.
</p>

<p><strong>Extenuating Circumstances</strong><br/>
If you have not previously submitted an EC, you must follow the Academic Appeals procedure.
You will need to provide new evidence that was not, and could not have been, made available to the Board of Examiners at the time of its original decision.</p>


<p><strong>Students’ Union support</strong><br/>
SU Education Advisers can help advise on appeals or EC late claims <a href="https://su.nottingham.ac.uk/advice">SU Advice</a>.</p>

<p><strong>Wellbeing</strong><br/>
Your School contact or Personal Tutor will be able to offer advice and support.
Our <a href="https://www.nottingham.ac.uk/studentservices/services/support-and-wellbeing-team.aspx">support and wellbeing team</a>  can help guide you to other services and useful resources.
Our <a href="https://www.nottingham.ac.uk/careers/students/contact.aspx">careers and employability service team</a> offer independent and impartial advice.
</p>


<p>For further information, please visit our <a href="https://student-enquiries.nottingham.ac.uk/faqs/category/?id=CAT-01000">Frequently Asked Questions</a>.</p>
