---
layout: default
brand: 1year
stub: 1year
---

<div class="container">
  <div class="row">
    <div class="col">

<h1>My Results</h1>

<form>
<div class="form-group row">
    <label for="course" class="col-sm-2 col-form-label">Course</label>
    <div class="col-sm-10">
      <select class="custom-select" id="course">
          <option selected>BSc Hons Chemistry</option>
      </select>
    </div>
  </div>
</form>



<!-- PROGRESSION -->   
{% if page.progression == "y" %}
{% assign asc = page.ascInclude | append: ".html" %}
{% assign progression = page.progressionInclude | append: "Header.html" %}
<h2>Progression</h2>
{% include {{asc}} %}
{% include {{progression}} %}
{% endif %}
 


<!-- MARKS -->   
<h2>Marks</h2>
<p>Your marks will appear below once they’re published.<br/>
Marks for assessments taken in the next academic year will show against original year.</p>

{% assign marks = page.marksInclude | append: ".single.html" %}
{% include {{marks}} %}

<!-- <p>If you have queries about your module results, please contact either your Personal Tutor, Here For You Guides or Student Services.</p>-->
<p>Results are correct at the time of publication but may change in exceptional circumstances. You will be notified via your University email if this happens.
</p>

{% if page.title == "Exclusions semester 1" %}
<h3>Unavailable marks</h3>
<ul>
  <li>CHEM2006  Principles in Analytical Chemistry &mdash; awaiting EC outcome</li>
</ul>
{% endif %}
{% if page.title == "Exclusions semester 2" %}
<h3>Unavailable marks</h3>
<ul>
  <li>CHEM2003  Core Laboratory Work A &mdash; awaiting EC outcome</li>
  <li>CHEM2017  Energy, Spectroscopy, and Solid State Chemistry &mdash; awaiting marks</li>
</ul>
{% endif %}


<!-- PROGRESSION FOOTER -->   
{% if page.progression == "y" %}
{% assign progression = page.progressionInclude | append: "Footer.html" %}
{% include {{progression}} %}
{% endif %}

    </div>
  </div>
</div>
