---
layout: default
---

<div class="container">
  <div class="row">
    <!-- LEFT -->
    <div class="col-md-6">
{{ content }}
    </div>
    <!-- RIGHT -->
    <div class="col-md-6">
        <h2>Progression not published</h2>
          <ul>
  {% assign mocks = site.data.allmocks | where: 'progression', 'n'  %}
  {% for mock in mocks %}
  {% assign link = mock.asc | downcase | remove: " " | prepend: "/myresults/mock/"| append: ".html" %}
            <li><a href="{{ link }}">{{mock.title}}</a></li>
  {% endfor %}
          </ul>

        <h2>Progression</h2>
          <ul>
  {% assign mocks = site.data.allmocks | where: 'progression', 'y'  %}
  {% for mock in mocks %}
  {% assign link = mock.asc | downcase | remove: " " | prepend: "/myresults/mock/"| append: ".html" %}
            <li><a href="{{ link }}">{{mock.title}}</a></li>
  {% endfor %}
          </ul>


          <h2>Footer variants</h2>
 <table class="table table-sm">
<thead>
<tr>
<th>Footer</th>
<th>Example</th>
</tr>
</thead>
<tbody>
<tr>
<td>Award</td>
<td><a href="/myresults/mock/1007.html">1007 satisfactory award</a></td>
</tr>
<tr>
<td>Progressing</td>
<td><a href="/myresults/mock/1002.html">1002 satisfactory</a></td>
</tr>
<tr>
<td>Proceeding (in attend.)</td>
<td><a href="/myresults/mock/1013.html">1013 unsatisfactory reassessment req</a></td>
</tr>
<tr>
<td>Proceeding (NOT in attend.)</td>
<td><a href="/myresults/mock/1015.html">1015 unsatisfactory first sits</a></td>
</tr>
<tr>
<td>Termination</td>
<td><a href="/myresults/mock/1026.html">1026 unsatisfactory academic failure</a></td>
</tr>
<tr>
<td>Pending</td>
<td><a href="/myresults/mock/1038.html">1038 unable to confirm</a></td>
</tr>
</tbody>
</table>
         


    </div>
  </div>
</div>



