---
layout: default
---

<div class="container">
  <div class="row">
    <!-- LEFT -->
    <div class="col-md-6">
{{ content }}
    </div>
    <!-- RIGHT -->
    <div class="col-md-6">
        <h2>Progression not published</h2>
          <ul>
  {% assign mocks = site.data.allmocks | where: 'progression', 'n'  %}
  {% for mock in mocks %}
  {% assign link = mock.asc | downcase | prepend: "/mock/"| append: ".html" %}
            <li><a href="{{ link }}">{{mock.title}}</a></li>
  {% endfor %}
          </ul>

        <h2>Progression</h2>
          <ul>
  {% assign mocks = site.data.allmocks | where: 'progression', 'y'  %}
  {% for mock in mocks %}
  {% assign link = mock.asc | prepend: "/mock/"| append: ".html" %}
            <li><a href="{{ link }}">{{mock.title}}</a></li>
  {% endfor %}
          </ul>
    </div>
  </div>
</div>



